# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
将删除 .gitignore
将删除 .idea/compiler.xml
将删除 .idea/encodings.xml
将删除 .idea/inspectionProfiles/
将删除 .idea/misc.xml
将删除 .idea/modules.xml
将删除 .idea/workspace.xml
将删除 common/src/
将删除 common/target/
将删除 mvcbatis.iml
将删除 public/src/
将删除 public/target/
