/*#TreeTitle{
    background-color: #f0f2f5;
}
#TreeTitle label{
    margin:5px;cursor: pointer;
    padding-right:5%;
    padding-top:0px;
    font-weight:bold;

}*/
/*#TreeTitle>.form-group>label.Q{
   padding-left: 5%;
}
#TreeTitle>.form-group>label.W{
    padding:0px;
    padding-left: 5.6%;
}
#TreeTitle>.form-group>label.E{
    padding:0px;
    padding-left: 0%;
}
#TreeTitle>.form-group>label.R{
    padding:0px;
    padding-left: 9%;
}
#TreeTitle>.form-group>label.T{
    padding:0px;
    padding-left: 9%;
}
#TreeTitle>.form-group>label.Y{
    padding:0px;
    padding-left: 5%;
}
#TreeTitle>.form-group>label.U{
    padding:0px;
    padding-left: 0%;
}
#TreeTitle>.form-group>label.I{
    padding:0px;
    padding-left: 0%;
}
#TreeTitle>.form-group>label.O{
    padding:0px;
    padding-left: 0.7%;
}
#TreeTitle>.form-group>label.QQ{
    padding:0px;
    padding-left: 1.5%;
}
#TreeTitle>.form-group>label.QW{
    padding:0px;
    padding-left: 1%;
}
#TreeTitle>.form-group>label.QE{
    padding:0px;
    padding-left: 1%;
}
#TreeTitle>.form-group>label.P{
    padding:0px;
    padding-left: 13%;
}*/



/*
行移入移出效果
*/
/*.editArea .mouseOver*/
.mouseOver{
    background: #f7f7f7;
    /*opacity: 0.2;*/
    /*color: #142fff;*/
    /*background: indianred;*/
}
.Over{
    background: #aed9eb;



}
/*******************************************************************************************************************/
